<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Create new post</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
</head>
<body>

    <div layout:include="_navbar :: nav-bar"></div>

    <div class="container">

        <div class="row">

            <div class="col-md-8 col-md-offset-2">

                <h2>Add new post</h2>
            </div>

        </div>

        <div class="row" style="margin-top: 30px;">

            <div class="col-md-8 col-md-offset-2">

                <form method="post" th:action="@{/admin/new}" th:object="${postForm}" role="form">
                    <div class="form-group">
                        <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect title</span>
                        <input type="text" th:field="*{title}" class="form-control" name="title" placeholder="Title">
                    </div>

                    <div class="form-group">
                        <select id="category" name="category" th:field="*{category}" class="form-control">
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.displayName}">Category</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <span class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Incorrect content</span>
                        <textarea rows="4" th:field="*{content}" class="form-control" placeholder="Content..."></textarea>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" th:field="*{draft}"> Draft
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Save</button>
                </form>

            </div>

        </div>

    </div>

    <!--<form method="post" th:action="@{/admin/new}" th:object="${postForm}">-->

        <!--<input type="text" th:field="*{title}" name="title" placeholder="Title">-->
        <!--<span class="help-inline" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect title</span>-->

        <!--<label for="category">Category</label>-->
        <!--<select id="category" name="category" th:field="*{category}" >-->
            <!--<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.displayName}">Category</option>-->
        <!--</select>-->

        <!--<textarea rows="4" th:field="*{content}" placeholder="Content..."></textarea>-->
        <!--<span class="help-inline" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Incorrect content</span>-->

        <!--<div th:if="${create}">-->
            <!--<button name="draft" value="true" type="submit">Save Draft</button>-->
            <!--<button name="draft" value="false" type="submit">Publish</button>-->
        <!--</div>-->

        <!--<div th:if="${edit}">-->
            <!--<button type="submit" class="btn btn-primary">Update</button>-->
        <!--</div>-->

    <!--</form>-->

</body>
</html>