<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
</head>
<body>

    <div layout:include="_navbar :: nav-bar"></div>

    <div class="row" style="padding-top: 50px;">

        <div class="col-md-8 col-md-offset-2">

            <form th:action="@{/admin/categories/new}" th:object="${form}" method="post" role="form">

                <div class="form-group">
                    <input type="text" th:field="*{name}" class="form-control" />
                </div>

                <input type="submit" value="Save" class="btn btn-primary" />

            </form>

        </div>

    </div>



</body>
</html>