<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <style>
        nav {
            background: #F5F5F5;
        }
    </style>
</head>
<body>

    <div layout:fragment="nav-bar">


        <nav class="navbar navbar-default" role="navigation"
             style="box-shadow: 0px 0px 5px -1px rgba(33,33,33,0.5);">

            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Spring blog app</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left" th:action="@{/posts/search}" method="get">
                        <div class="form-group">
                            <input type="text" class="form-control" name="q" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/posts">Home</a></li>
                        <li><a href="/posts/categories">Categories</a></li>
                        <li class="dropdown" sec:authorize="hasAuthority('ADMIN')">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/posts/new">Post</a></li>
                                <li><a href="/admin/categories/new">Category</a></li>
                            </ul>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="#" onclick="document.forms['logoutForm'].submit();">Logout</a>
                        </li>
                        <li sec:authorize="isAnonymous()">
                            <a th:href="@{/login}">Login</a>
                        </li>
                    </ul>
                    <form id="logoutForm" method="POST" th:action="@{/logout}" sec:authorize="isAuthenticated()">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </div>

</body>
</html>