<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
</head>
<body>

<div layout:include="_navbar :: nav-bar"></div>

<div class="container">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Categories</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul th:each="cat : ${categories}" class="list-unstyled">
                <li>
                    <h3>
                        <a th:href="'/posts/category/' + ${cat.urlSlug}"> <span th:text="${cat.displayName}"></span> </a>
                    </h3>
                </li>
            </ul>
        </div>
    </div>

</div>


</body>
</html>