<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Blog</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>

    <style>
        .article-title a {
            color: #212121;
        }
        .article-title a:hover {
            color: #1976D2;
        }
    </style>
</head>
<body>

<div layout:include="_navbar :: nav-bar"></div>

    <div class="container">

        <div class="row" th:if="${well != null}">
            <div class="col-md-8 col-md-offset-2 well">
                <h4 th:text="${well}"></h4>
            </div>
        </div>

        <div th:each="post : ${posts}">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="article">

                        <h2 class="article-title"><a th:href="'/posts/' + ${post.slug}"><span th:text="${post.title}"></span></a></h2>

                        <ul class="list-unstyled list-inline">
                            <li>
                                <a th:href="'/posts/user/' + ${post.author.username}"> <span th:text="${post.getAuthorName()}"></span></a>
                            </li>
                            <li> <span th:text="${post.getFormattedDate()}"></span> </li>
                            <li>
                                <a th:href="'/posts/category/' + ${post.category.urlSlug}">
                                    <span th:text="${post.category.displayName}" class="label label-default">Spring</span>
                                </a>
                            </li>
                        </ul>

                        <div class="article-content">
                            <p th:utext="${post.getShortContent()}" class="text-muted">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip...
                            </p>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <!-- Pagination Bar -->
        <div class="row" th:if="${posts.size() > 0}">
            <div class="col-md-8 col-md-offset-2">
                <ul class='pagination pagination-centered'>
                    <li th:class="${page.firstPage}?'disabled':''">
                        <span th:if='${page.firstPage}'>← First</span>
                        <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>← First</a>
                    </li>
                    <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                        <span th:if='${not page.hasPreviousPage}'>«</span>
                        <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'>«</a>
                    </li>
                    <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                        <span th:if='${item.current}' th:text='${item.number}'>1</span>
                        <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span th:text='${item.number}'>1</span></a>
                    </li>
                    <li th:class="${page.hasNextPage}? '' : 'disabled'">
                        <span th:if='${not page.hasNextPage}'>»</span>
                        <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'>»</a>
                    </li>
                    <li th:class="${page.lastPage}? 'disabled' : ''">
                        <span th:if='${page.lastPage}'>Last →</span>
                        <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last →</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>


</body>
</html>