<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${post.title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
</head>
<body>

    <div layout:include="_navbar :: nav-bar"></div>

    <div sec:authorize="hasAuthority('ADMIN')">
        <form th:action="@{'/admin/posts/' + ${post.slug} + '/delete'}" method="post" id="deleteForm">
            <input type="hidden" name="_method" value="DELETE"/>
        </form>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <div class="article">

                    <h3 th:text="${post.title}"></h3>

                    <ul class="list-unstyled list-inline">
                        <li>
                            <a th:href="'/posts/user/' + ${post.author.username}">
                                <span th:text="${post.getAuthorName()}"></span>
                            </a>
                        </li>
                        <li> <span th:text="${post.getFormattedDate()}"></span> </li>
                        <li>
                            <a th:href="'/posts/category/' + ${post.category.urlSlug}">
                                <span th:text="${post.category.displayName}" class="label label-default"></span>
                            </a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')">
                            <a href="#" onclick="document.forms['deleteForm'].submit();" class="text-danger">Delete</a>
                        </li>
                    </ul>

                    <div class="article-content">
                        <p th:utext="${post.renderedContent}"></p>
                    </div>

                </div>

            </div>

        </div>

        <!-- COMMENTS -->

        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <h4>Comments</h4>
                <hr/>

                <div sec:authorize="isAuthenticated()" style="margin-bottom: 50px;">
                    <form th:action="'/posts/' + ${post.slug} + '/comment/add'" method="post">
                        <div class="form-group">
                            <textarea name="comment" rows="4" class="form-control"></textarea>
                        </div>
                        <input type="submit" value="submit" class="btn btn-primary">
                    </form>
                </div>

            </div>

            <div th:each="comment : ${post.getComments()}">

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="media">
                            <div class="media-heading">
                                <span class="label label-info" th:text="${comment.username}">username</span>
                                <span th:text="${comment.getFormattedDate()}" ></span>
                            </div>

                            <div class="media-body">
                                <p th:text="${comment.content}">content</p>
                                <div class="comment-meta" sec:authorize="isAuthenticated()">
                                    <div sec:authorize="hasAuthority('MOD')">
                                        <form th:action="'/admin/comments/delete/' + ${comment.id} + '/?slug=' + ${post.slug}" id="deleteCommentForm" method="post">
                                            <input type="hidden" name="_method" value="DELETE"/>
                                        </form>
                                        <span>
                                            <a href="#" onclick="document.forms['deleteCommentForm'].submit();" class="text-danger">Delete</a>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

</body>
</html>