<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}">
</head>
<body>

    <div class="container" style="padding-top:100px;">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">User Registration</h3>
                    </div>
                    <div class="panel-body">

                        <form accept-charset="UTF-8" role="form" th:action="@{/registration}" th:object="${form}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <fieldset>
                                <div class="form-group">
                                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error</span>
                                    <input th:field="*{username}" class="form-control" placeholder="Username" name="username" type="text" required autofocus>
                                </div>
                                <div class="form-group">
                                    <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">name error</span>
                                    <input th:field="*{fullName}" class="form-control" placeholder="Full name" name="username" type="text">
                                </div>
                                <div class="form-group">
                                    <input th:field="*{password}" class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="form-group">
                                    <span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">username error</span>
                                    <input th:field="*{passwordConfirm}" class="form-control" placeholder="Password again" name="passwordConfirm" type="password" value="">
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Register">
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>